@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background: url('https://files.catbox.moe/28c7fi.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
}

/* Login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-box {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 15px #00ffff;
  width: 90%;
  max-width: 350px;
  text-align: center;
}
.login-box input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  background: rgba(255,255,255,0.1);
  color: white;
}
.login-box button {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: white;
  border: none;
  padding: 10px;
  margin-top: 16px;
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 4px 0 #0056b3;
}

/* Pesan Card */
.pesan-container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}
.pesan-card {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  padding: 16px 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px #00ffff44;
}
.pesan-header {
  font-weight: bold;
  font-size: 16px;
  color: #00e6ff;
  margin-bottom: 8px;
}
.pesan-teks {
  color: #e0e0e0;
  line-height: 1.4;
}
