body {
  font-family: 'Poppins', sans-serif;
  background: url('https://files.catbox.moe/28c7fi.jpg') no-repeat center center fixed;
  background-size: cover;
  padding: 20px;
  color: #fff;
  margin: 0;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 4px #000;
  margin-bottom: 10px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

nav a {
  background: #03a9f4;
  padding: 10px 16px;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
  box-shadow: 0 4px 10px rgba(0,255,255,0.3);
}

nav a:hover {
  background: #0288d1;
  transform: scale(1.05);
}
